.frame{
    background-image: url("/img/frame-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
}

.cabecera{
    color: white;
    background-color: rgba(219, 39, 119, 0.7);   
}

.icono{
    background-color: rgba(219, 39, 119, 0.7);   
}