@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full m-0 p-0;
  }

  html {
    @apply scroll-smooth bg-sky-50 text-slate-900 transition-colors duration-300;
  }

  html.dark {
    @apply bg-slate-950 text-slate-50 transition-colors duration-300;
  }

  body {
    @apply flex flex-col bg-sky-50 text-slate-900 transition-colors duration-300;
  }

  body.dark {
    @apply bg-slate-950 text-slate-50 transition-colors duration-300;
  }

  /* Asegurar que todos los elementos transicionen suavemente */
  * {
    @apply transition-colors duration-300;
  }
}

